asgiref
asttokens
autopep8
backcall
beautifulsoup4
bs4
certifi
charset-normalizer
colorama
comm
crispy-bootstrap5
debugpy
decorator
distlib
Django
django-crispy-forms
django-email
django-environ
entrypoints
executing
filelock
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
lxml
matplotlib-inline
MouseInfo
msvc-runtime
mysql-connector-python
nest-asyncio
numpy
opencv-contrib-python
opencv-python
packaging
parso
pickleshare
pillow
pipenv
platformdirs
prompt-toolkit
psutil
psycopg2
pure-eval
PyAutoGUI
pycodestyle
pygame
PyGetWindow
Pygments
PyMsgBox
pyperclip
PyRect
PyScreeze
python-dateutil
pytweening
pywin32
pyzmq
requests
six
soupsieve
sqlparse
stack-data
tornado
traitlets
tzdata
urllib3
virtualenv
wcwidth