asgiref
certifi
charset-normalizer
crispy-bootstrap5
distlib
dj-rest-auth
Django
django-allauth
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
filelock
idna
Markdown
MouseInfo
numpy
opencv-contrib-python
pillow
pipenv
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
requests
setuptools
sqlparse
tzdata
urllib3
virtualenv