<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css"
    />
    {% block title %}
    {% endblock %}
</head>
<body class = "bg-indigo-100">
    <style>
        footer {
            position: fixed !important;
            bottom: 0 !important;
            width: 100%;
        }
    </style>

    {% include 'nav_bar.html' %}
    <div>
        {% block body %}

        {% endblock %}
    </div>
<footer>    
    {% include 'footer.html' %}
</footer>   

</html>